@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./layout.css');
@import url('./typography.css');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif !important;
}
