/* @tailwind base; */
@tailwind components;
@tailwind utilities;
@import url('./layout.css');
@import url('./typography.css');

:root {
  /* COLORS */
  --color_white: #fcfcfc;
  --color_bg_white: #ffffff;
  --color_shadow_dark: #0000001a;
  --color_input_white: #f1f4f6;
  --color_dark: #2a3548;
  --color_black: #000000;
  --color_border_grey: #2a3548;
  --color_toggle_grey: #d8d8d8;
  --color_yellow: #e7b522;
  --color_yellow_faded: #e7b522;
  --color_yellow_faded_text: #e3b221;
  --color_orange: #ed7818;
  --color_red: #bd062d;
  --color_grey: rgb(160, 160, 160);

  /* FONTS */
  --text24: 1.5rem;
  --text18: 1.125rem;
  --text16: 1rem;
  --text14: 0.875rem;

  /* OTHERS */
  --opacity_1: 1;
  --shadow: -2px 3px 12px -5px #e4dfdf;
  --row_shadow: -3px 3px 13px 1px rgba(228, 223, 223, 0.41);
  --opacity_56: 0.56;
  --opacity_43: 0.43;
  --opacity_16: 0.16;
  --opacity_38: 0.38;
  --opcaity_23: 0.23;

  --PhoneInputCountryFlag-height: 100px;
  --inputHight: 46px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif !important;
}
/* Landing content */
.landing_content{
  height: 400px;
  background-image: url("/bg-1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.616);
  height: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.group_section {
  height: 100px;
  background-color: #ffffff;
 }

 .inner {
    display: absolute !important;
 }

 .group_icon {
  font-size: var(--text24) !important;
  color: var(--color_dark);
}

.dataset {
  padding: 18px;
  border-bottom: 1px solid var(--color_shadow_dark);
}





 /* Text */
 .text_small {
  font-size: var(--text12) !important;
  color: var(--color_dark);
}
 .text_medium {
  font-size: var(--text14) !important;
  color: var(--color_dark);
}
 .text_normal {
    font-size: var(--text16) !important;
    color: var(--color_dark);
 }
 .text_normal_grey {
  font-size: var(--text16) !important;
  color: var(--color_grey) !important;
}
 .text_title_ {
  font-size: var(--text18) !important;
  color: var(--color_dark);
}
 .text_title {
    font-weight: 100 !important;
 }
 .text_white {
   color: var(--color_white) !important;
 }
 .fowe100 {
  font-weight: 100 !important;
 }
 .fowe_lighter {
  font-weight: lighter !important;
 }
 .text_capitalize {
  text-transform: capitalize !important;
 }
 .text_uppercase {
  text-transform: uppercase !important;
 }
 .text_lowercase {
  text-transform: lowercase !important;
 }


/* Padding and Margins */
.mato8 {
  margin-top: 8px !important;
}
.mato16 {
  margin-top: 16px !important;
}
.mato32 {
  margin-top: 32px !important;
}
.mato64 {
  margin-top: 64px !important;
}
.mato96 {
  margin-top: 96px !important;
}
.mato128 {
  margin-top: 128px !important;
}
.mabo8 {
  margin-bottom: 8px !important;
}
.mabo16 {
  margin-bottom: 16px !important;
}
.mabo32 {
  margin-bottom: 32px !important;
}
.mabo64 {
  margin-bottom: 64px !important;
}
.mabo96 {
  margin-bottom: 96px !important;
}
.mabo128 {
  margin-bottom: 128px !important;
}
.pad16 {
  padding: 16px 0px !important ;
}

/* WIDTH */
.width100{
  width: 100% !important;
}


/* COLORS */
.dark {
  color: var(--color_dark) !important;
}
.yellow {
  color: var(--color_orange) !important;
}