.app_header {
  height: 64px !important;
}

.app_content {
  height: calc(100vh - 128px) !important;
}

.app_footer {
  height: 64px !important;
}

.ant-layout-header {
  background: #7dbcea !important;
}
.ant-layout .ant-layout-sider-children {
  background: #3ba0e9 !important;
  padding: 30px 16px !important;
}
.ant-layout .ant-layout-content {
  background: grey !important;
  padding: 16px 50px !important;
}
.ant-layout .ant-layout-footer {
  background: #7dbcea !important;
}
