.app_header {
  height: 64px !important;
}

.app_content {
  min-height: calc(100vh - 128px) !important;
}

.app_footer {
  height: 64px !important;
}

.ant-layout-header {
  background: #ffffff !important;
}
.ant-layout .ant-layout-sider-children {
  background: #3ba0e9 !important;
  padding: 30px 16px !important;
}
.ant-layout .ant-layout-content {
  background: rgb(230, 230, 230) !important;
  /* padding: 16px 50px !important; */
}
.ant-layout .ant-layout-footer {
  background: #ffffff !important;
}
.ant-menu-inline {
  border-inline-end: none !important;
}
.ant-menu-item-group li{
  width: 100% !important;
}
